 /* Estilos globales */
 body {
    background: url('./img/banner.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    /* Asegura que el body ocupe todo el alto de la pantalla */
}

/* Barra superior */
.cabecera {
    width: 100%;
    color: #D0AA3A;
    text-align: center;
    padding: 2vh 0;
    margin-bottom: 2vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: 'Bagel Fat One', sans-serif;
    /* Aseguramos que el encabezado quede encima */
    height: auto;
}

.cabecera h1 {
    font-size: 120px;
    align-items: center;
    margin-top: -30px;
    padding-bottom: 20px;
    -webkit-text-stroke: 4px #343529;
    /* Grosor y color del borde */
}

/* Contenedor de los controles */
#controles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: -120px;
    padding: 10px;
    background-color: #235c4ed2;
    border: 5px solid #343529;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

/* Estilo de los controles */
#controles label,
#controles p,
#controles button {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    color: black;
    /* Gris oscuro para el texto */
}

#controles select {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #d0ab3ade;
    border: 4px solid #333;
    border-radius: 4px;
}

#controles button {
    padding: 8px 15px;
    background-color: #d0ab3ade;
    border: 4px solid #333;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controles button:hover {
    background-color: #65465acf;
    /* Gris más oscuro al pasar el mouse */
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    flex: 1;
    /* Ocupa todo el espacio disponible */
    flex-direction: column;
    /* Alinea los elementos de arriba hacia abajo */
    margin-top: 20px;

}

#juego {
    display: flex;
    justify-content: center;
    /* Centrar la tabla horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    width: fit-content;
    margin: 0;
}

.carta {
    width: 150px;
    height: 150px;
    background-color: #85a7bd;
    border: 5px solid #343529;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.carta.volteada {
    transform: rotateY(180deg);
}

.frontal,
.trasera {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    font-size: 20px;
    font-weight: bold;
}

.frontal {
    background: url('./img/back5.png') no-repeat center center;
    background-size: cover;
    color: white;
}

.trasera {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.trasera img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos para la ventana emergente */
.ventana-emergente {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.ventana-contenido {
    background: url('./img/victory.png') no-repeat center center;
    background-size: cover;
    width: 1000px;
    /* Ajusta el tamaño según necesites */
    min-height: 600px;
    padding: 20px;
    text-align: center;
    color: #333;
    border: 3px solid #333;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ventana-contenido p {
    font-size: 30px;
    font-weight: bold;
    margin-top: -250px;
}

@keyframes neon-glow {
    0% {
        text-shadow: 0 0 5px #7fff00, 0 0 10px #7fff00, 0 0 15px #7fff00, 0 0 30px #a8e06b;
        /* Verde claro */
    }

    20% {
        text-shadow: 0 0 5px #9acd32, 0 0 10px #9acd32, 0 0 15px #9acd32, 0 0 30px #b0e57c;
        /* Verde oliva claro */
    }

    40% {
        text-shadow: 0 0 5px #adff2f, 0 0 10px #adff2f, 0 0 15px #adff2f, 0 0 30px #c7f464;
        /* Amarillo lima */
    }

    60% {
        text-shadow: 0 0 5px #9acd32, 0 0 10px #9acd32, 0 0 15px #9acd32, 0 0 30px #b0e57c;
        /* Verde oliva claro */
    }

    80% {
        text-shadow: 0 0 5px #7fff00, 0 0 10px #7fff00, 0 0 15px #7fff00, 0 0 30px #a8e06b;
        /* Verde claro */
    }

    100% {
        text-shadow: 0 0 5px #7fff00, 0 0 10px #7fff00, 0 0 15px #7fff00, 0 0 30px #a8e06b;
        /* Verde claro */
    }
}

#mensajeVictoriaTexto {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    margin-top: 160px;
    text-transform: uppercase;
    animation: neon-glow 4s ease-in-out infinite;
    ;
}

.ventana-contenido button {
    width: 200px;
    font-weight: bold;
    background-color: #F9E97B;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 4px solid #333;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    align-self: center;
}

.ventana-contenido button:hover {
    background-color: #65465acf;
}

/* Imagen fija en la parte inferior derecha */
.imagen-enlace {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 300;
}

/* Imagen fija en la parte inferior izquierda (info programador) */
#abrirInfo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
}


.imagen-enlace img {
    width: 100px;
    /* Ajusta el tamaño de la imagen */
    height: 100px;
    border: none;
}

/* Fondo oscuro al abrir la ventana emergente */
#ventanaInfo {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    z-index: 200;
    /* Asegura que esté encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* Esto desactiva los clics sobre el fondo */
}

/* Contenedor de la ventana emergente */
#ventanaInfo .ventana-contenido {
    background: #fff;
    gap: 20px;
    width: 600px;
    height: 400px;
    min-width: 600px !important;
    min-height: 400px !important;
    max-width: 600px !important;
    max-height: 400px !important;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: 3px solid #333;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: auto;
}

#mensajeInfo {
    max-width: 100%;
    /* Limita el ancho del texto */
    word-wrap: break-word;
    /* Asegura que el texto se divida en líneas si es muy largo */
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
}

/* Botón de cerrar */
#ventanaInfo .ventana-contenido button {
    background-color: #F9E97B;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 4px solid #333;
    cursor: pointer;
    font-size: 18px;
    margin-top: 190px;
    align-self: center;
}

#ventanaInfo .ventana-contenido button:hover {
    background-color: #65465acf;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#imagenCreador {
    display: block;
    width: 200px;
    height: auto;
}